<div class="header">
<ion-header color:red>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">FIMT-APP</ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content fullscreen scroll-y="true" scroll-x="false">
  <ion-grid  class="top">
    <ion-row>
      <ion-col size="8">
        <b>Headline 1</b><br>Lorem ipsum dolor sit amet.

      </ion-col>
      <ion-col size="4">
        <ion-button size="small" fill="outline" shape="round" class="btn">View All</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card no-padding class="newsCards">
        <ion-card-content no-padding>
          <ion-card-header no-padding>
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="4" class="ion-text-center"><img src="../../../assets/icon/icons8-news-48.png"></ion-col>
                <ion-col size="4" margin-top="1">
                  <ion-button size="small" class="btn" >Link 1</ion-button>
                  <!-- <button class="btn">Link 1</button> -->
                </ion-col>
                <ion-col size="4" margin-top="1">
                  <ion-button size="small" class="btn">Link 2</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-title class="ion-text-left cardInfo" style="font-size: medium;">
            <ion-grid no-padding>
              <ion-row>
                <ion-col>
                  <b>Card 1</b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, molestiae.
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <!----------------->
    <ion-slide>
      <ion-card no-padding class="newsCards">
        <ion-card-content no-padding>
          <ion-card-header no-padding>
            <ion-grid no-padding>
              <ion-row>
                <ion-col size="4" class="ion-text-center"><img src="../../../assets/icon/icons8-news-48.png"></ion-col>
                <ion-col size="4" margin-top="1">
                  <ion-button size="small" class="btn" >Link 1</ion-button>
                </ion-col>
                <ion-col size="4" margin-top="1">
                  <ion-button size="small" class="btn">Link 2</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-title class="ion-text-left cardInfo" style="font-size: medium;">
            <ion-grid no-padding>
              <ion-row>
                <ion-col>
                  <b>Card 1</b><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, molestiae.
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="break"></div>
  <div class="second">
    <ion-card class="secondCards">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
           <p><b class="font-weight-bolder"><u>Notice Board</u></b><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            Quisquam, voluptatum?
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" class="btn">View All</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </div>
  <div class="break"></div>
  <div class="third">
    <ion-grid class="modules">
      <ion-row>
      <ion-col size="8">
        <b class="font-weight-bolder">My Module</b><br>
        Quisquam, voluptatum?
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" class="btn">View All</ion-button>

      </ion-col>
    </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="4" class="module"><a href="#"><img src="../../../assets/icon/icons8-event-50.png">
        <br>
      <b>Time Table</b></a></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-exam-50.png">
        <br>
      <b>Exams</b></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-performance-macbook-50.png">
        <br>
      <b>Student Performance</b></ion-col>
      </ion-row>
      <!---------------------->
      <ion-row class="ion-text-center">
        <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-attendance-50.png">
        <br>
      <b>Student Attendance</b></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-bus-50 (2).png">
        <br>
      <b>Live Bus Tracking</b></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-upload-document-50.png">
        <br>
      <b>Upload Document</b></ion-col>
      </ion-row>
       <!---------------------->
       <!-- <ion-row class="ion-text-center">
        <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-news-50.png">
        <br>
      <b>Link 7</b></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-news-50.png">
        <br>
      <b>Link 8</b></ion-col>
      <ion-col size="4" class="module"><img src="../../../assets/icon/icons8-news-50.png">
        <br>
      <b>Link 9</b></ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  
 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size="4">
          <ion-icon name="home" size="large"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="notifications" size="large"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="person" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>