body{
  font-size: 20px;

}
.toolbar-container{
  background-color: #02325D !important;
  color: white !important;
}
img{
  width: 75px;
  height:75px;
}
a{
  text-decoration: none;
  color: black;
}
.header{
  background-color: red;
}
// .newsCards{
//   --background:var(--ion-color-primary-tint);
  
//   .btn{
//     --color:var( --ion-color-secondary-tint);
//     border-radius: 10px;
//     border:3px solid  white;
    
//   }
// }
// .top{
//   background-color: rgb(253, 232, 114);
// }
.newsCards{
  // --background:var(--ion-color-secondary-tint);
  background:linear-gradient(to right,#ead6ee,#a0f1ea);
  border: 1px solid var(  --ion-color-secondary) ;
  .cardInfo{
    --color:var( --ion-color-primary);
  }
  .btn{
    --backgroundr:var( --ion-color-primary-contrast);
    --color:var( --ion-color-secondary-tint);
    border-radius: 10px;
    border:3px solid  white;
    
  }
  button{
    --backgroundr:var( --ion-color-primary-contrast);
  }
}

.break{
  border: 1px solid rgb(209, 209, 209);
}

.second .secondCards{
  // --background:var( --ion-color-tertiary-tint);
  background: rgb(255, 235, 235);
  --color:var( --ion-color-primary);

  border: 1px solid var( --ion-color-tertiary-tint) ;
  .btn{
    --color:var( --ion-color-primary-contrast);
    border-radius: 10px;
    border:3px solid  white;
    
  }
}
.third {
  padding: 2%;
  .modules{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
border: 3px solid rgba(26, 51, 101, 0.51);}
.module b{
  background: white;
  color: #ffc21a;
}
}

.module-2 {
  padding: 1%;
}
.module-2 a {
  color: black;
  text-decoration: none;
}
.inner {
  padding: 1%;
  color: #1a3365;
  border: 2px dashed #1a3365;
}


.module-1 {
  border-radius: 10px;
  padding: 2%;
  color: #ffbb00;
  background: white;
  border: 1px solid #ffbb00;
}
