<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">FIMT-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <div class="profile ion-text-center">
    <img
      src="../../../assets/icon/icons8-man-teacher-48.png"
      alt=""
      width="80"
      height="80"
    />
    <p class="profileDetail"><b>Lokesh Rawat</b><br />Professor</p>
  </div>
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <ion-card class="card">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <img
                  src="../../../assets/icon/icons8-man-teacher-48.png"
                  alt=""
                  width="150"
                  height="150"
                />
              </ion-col>
              <ion-col size="9" class="ion-text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                voluptatibus. Lorem ipsum dolor sit amet.
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <ion-card class="card">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <img
                  src="../../../assets/icon/icons8-man-teacher-48.png"
                  alt=""
                  width="150"
                  height="150"
                />
              </ion-col>
              <ion-col size="9" class="ion-text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                voluptatibus. Lorem ipsum dolor sit amet.
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <ion-card class="card">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <img
                  src="../../../assets/icon/icons8-man-teacher-48.png"
                  alt=""
                  width="150"
                  height="150"
                />
              </ion-col>
              <ion-col size="9" class="ion-text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                voluptatibus. Lorem ipsum dolor sit amet.
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="break"></div>

  <!------------------------------------------------------------------>

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
    </ion-row>
    <!--------------------->
    <ion-row>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="modules">
        <ion-card class="module" padding="10">
          <img src="../../../assets/icon/icons8-user-50.png" /><br />
          <p class="profileDetail"><b>Module Name</b></p>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-------------------->
  </ion-grid>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
        <ion-col size="4" padding="1%" class="module">
          <img src="../../../assets/icon/icons8-user-50.png" height="70" />
          <b>Module Name</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>

<!-- Footer without a border -->
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size="4">
          <ion-icon name="home" size="large"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="notifications" size="large"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="person" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
